{% extends 'base.html' %}
{% block title %}关于本站{% endblock %}
{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        <p>关于本站</p>
    </h1>
    <p>这是一个用python3写的个人博客网站，使用了python3的异步模型。</p>
    <p>这里用来记录我学习编程过程中的点滴和感悟，代码托管在<a target="_blank" href="https://github.com/qqj1228/Python_Blog">Github</a>上，欢迎同大家交流。</p>
    <p>本站的评论系统采用Disqus，国内用户可能需要翻墙才能使用。</p>
    <h2>打个广告</h2>
    <p>本站空间提供商使用的是Digital Ocean，性价比不错，国内访问速度尚可，有兴趣的同学可以通过以下链接注册试用。</p>
    <p><a target="_blank" href="https://m.do.co/c/5bed760ea510">https://m.do.co/c/5bed760ea510</a></p>
    <p>通过以上链接注册试用的话可以便宜10美刀，我也可以可到回馈，一举两得。照例他也是支持30天退款的，大家可以放心试用。</p>
</article>
{% endblock %}
