{% extends 'base.html' %}
{% block title %}文章分类 - {{ category.name }}{% endblock %}
{% block script %}
    {% if disqus %}
    <script id="dsq-count-scr" src="//cashqian.disqus.com/count.js" async></script>
    {% else %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <p>文章分类: {{ category.name }}</p>
        </div>
    </div>
    <!-- post -->
    {% for blog in blogs %}
        <article class="uk-article">
            <h1 class="uk-article-title">
                <a href="/blog/{{ blog.id }}">{{ blog.title }}</a>
            </h1>
            <p>{{ blog.html_summary|safe }}</p>
            <p class="uk-article-meta">
                <span>由 <a href="/user/{{ blog.user_id }}">{{ blog.user_name }}</a> 发表于 {{ blog.created_at|deltatime}} </span>
                | <i class="uk-icon-eye"></i> {{ blog.view_count }} 次阅读
                | <span class="uk-icon-comment"></span>
                {% if disqus %}
                <span class="disqus-comment-count" data-disqus-identifier="{{ blog.id }}">评论数...</span>
                {% else %}
                {% endif %}
                <a class="uk-button uk-button-primary uk-float-right" href="/blog/{{ blog.id }}">继续阅读</a>
            </p>
        </article>
    {% endfor %}
    <!-- end post -->

    {{ pagination('?page=', page) }}
{% endblock %}
