{% extends 'base.html' %}
{% block title %}分类管理{% endblock %}
{% block script %}
	<script type="text/javascript">
		function initVM(res) {
			var vm = new Vue({
				el: '#vm',
				data: {
					categories: res.categories,
					page: res.page,
				},
				methods: {
					edit_category: function (category) {
						location.assign('/manage/categories/edit?id=' + category.id);
					},
					delete_category: function (category) {
						if (confirm('确认要删除“' + category.name + '”？删除后不可恢复！')) {
							postJSON('/api/categories/' + category.id + '/delete', function (err, r) {
								if (err) {
									return alert(err.message || err.error || err);
								}
								refresh();
							});
						}
					}
				}
			});
			$('#vm').show();
		}
		$(function() {
			getJSON('/api/categories', {
				page: {{ page_index }}
			}, function (err, results) {
				if (err) {
					return fatal(err);
				}
				$('#loading').hide();
				initVM(results);
			});
		});
	</script>
{% endblock %}
{% block content %}
	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/blogs">文章管理</a></li>
				<li><a href="/manage/comments">本地评论管理</a></li>
				<li><a href="/manage/users">用户管理</a></li>
				<li><a href="/manage/categories">分类管理</a></li>
			</ul>
		</div>
	</div>

	<div id="error" class="uk-width-1-1"></div>

	<div id="loading" class="uk-width-1-1 uk-text-center uk-margin-bottom uk-position-z-index">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
	</div>

	<div id="vm" class="uk-width-1-1 uk-panel uk-panel-box uk-panel-header">
		<h3 class="uk-panel-title">分类列表
		<a href="/manage/categories/create" class="uk-button uk-button-primary uk-float-right"><i class="uk-icon-plus"></i> 新建分类</a></h3>
		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th class="uk-width-5-10">名称</th>
					<th class="uk-width-4-10">创建时间</th>
					<th class="uk-width-1-10">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="category in categories" track-by="id">
					<td><a target="_blank" v-bind:href="'/category/'+category.id" v-text="category.name"></a></td>
					<td><span v-text="category.created_at.toDateTime()"></span></td>
					<td>
						<div class="uk-button-group">
							<a v-on:click="edit_category(category)" class="uk-button uk-button-mini uk-button-primary"><i class="uk-icon-edit"></i></a>
							<a v-on:click="delete_category(category)" class="uk-button uk-button-mini uk-button-primary"><i class="uk-icon-trash-o"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div is="vc-pagination" v-bind:p="page"></div>
	</div>
{% endblock %}
