{% extends 'base.html' %}
{% block title %}本地评论管理{% endblock %}
{% block script %}
    <script type="text/javascript">
        function initVM(res) {
            var vm = new Vue({
                el: '#vm',
                data: {
                    comments: res.comments,
                    page: res.page,
                },
                methods: {
                    delete_comment: function (comment) {
                        var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
                        if (confirm('确认要删除评论“' + content + '”？删除后不可恢复！')) {
                            postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
                                if (err) {
                                    return error(err);
                                }
                                refresh();
                            });
                        }
                    }
                }
            });
            $('#vm').show();
        }
        $(function() {
            getJSON('/api/comments', {
                page: {{ page_index }}
            }, function (err, results) {
                if (err) {
                    return fatal(err);
                }
                $('#loading').hide();
                initVM(results);
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/blogs">文章管理</a></li>
                <li><a href="/manage/comments">本地评论管理</a></li>
                <li><a href="/manage/users">用户管理</a></li>
                <li><a href="/manage/categories">分类管理</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center uk-margin-bottom uk-position-z-index">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1 uk-panel uk-panel-box uk-panel-header">
        <h3 class="uk-panel-title">评论列表</h3>
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-2-10">作者</th>
                    <th class="uk-width-4-10">内容摘要</th>
                    <th class="uk-width-3-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="comment in comments" track-by="id">
                    <td><a target="_blank" v-bind:href="'/user/'+comment.user_id" v-text="comment.user_name"></a></td>
                    <td><a target="_blank" v-bind:href="'/blog/'+comment.blog_id+'#'+comment.id" v-text="comment.content.substring(0, 40)"></a></td>
                    <td><span v-text="comment.created_at.toDateTime()"></span></td>
                    <td>
                        <a v-on:click="delete_comment(comment)" class="uk-button uk-button-mini uk-button-primary"><i class="uk-icon-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div is="vc-pagination" v-bind:p="page"></div>
    </div>
{% endblock %}
