<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-notouch">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog layout example - UIkit documentation</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.min.js"></script>
</head>

    <body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="http://www.getuikit.net/docs/layouts_frontpage.html">Brand</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_frontpage.html">Frontpage</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_portfolio.html">Portfolio</a>
                    </li>
                    <li class="uk-active">
                        <a href="http://www.getuikit.net/docs/layouts_blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_documentation.html">Documentation</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_login.html">Login</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
            </nav>

            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-3-4 uk-row-first">

                    <article class="uk-article">

                        <h1 class="uk-article-title">
                            <a href="http://www.getuikit.net/docs/layouts_post.html">Article Heading</a>
                        </h1>

                        <p class="uk-article-meta">Written by Author on 12 April 2013. Posted in <a href="http://www.getuikit.net/docs/layouts_blog.html#">Blog</a></p>

                        <p>
                            <a href="http://www.getuikit.net/docs/layouts_post.html"><img width="900" height="300" src="/static/images/pic01.jpg" alt=""></a>
                        </p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h2>Subheading</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>
                            <a class="uk-button uk-button-primary" href="http://www.getuikit.net/docs/layouts_post.html">Continue Reading</a>
                            <a class="uk-button" href="http://www.getuikit.net/docs/layouts_post.html">4 Comments</a>
                        </p>

                    </article>

                    <article class="uk-article">

                        <h1 class="uk-article-title">
                            <a href="http://www.getuikit.net/docs/layouts_post.html">Article Heading</a>
                        </h1>

                        <p class="uk-article-meta">Written by Author on 12 April 2013. Posted in <a href="http://www.getuikit.net/docs/layouts_blog.html#">Blog</a></p>

                        <p>
                            <a href="http://www.getuikit.net/docs/layouts_post.html"><img width="900" height="300" src="/static/images/pic01.jpg" alt=""></a>
                        </p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h2>Subheading</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>
                            <a class="uk-button uk-button-primary" href="http://www.getuikit.net/docs/layouts_post.html">Continue Reading</a>
                            <a class="uk-button" href="http://www.getuikit.net/docs/layouts_post.html">4 Comments</a>
                        </p>

                    </article>

                    <ul class="uk-pagination">
                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                        <li class="uk-active"><span>1</span></li>
                        <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">2</a></li>
                        <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">3</a></li>
                        <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">4</a></li>
                        <li><span>...</span></li>
                        <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">20</a></li>
                        <li><a href="http://www.getuikit.net/docs/layouts_blog.html#"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>

                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel uk-panel-box uk-text-center">
                        <img class="uk-border-circle" width="120" height="120" src="/static/images/logo.jpg" alt="">
                        <h3>Author Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut.</p>
                    </div>
                    <div class="uk-panel">
                        <h3 class="uk-panel-title">Archives</h3>
                        <ul class="uk-list uk-list-line">
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">January 2014</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">December 2013</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">November 2013</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">October 2013</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">September 2013</a></li>
                        </ul>
                    </div>
                    <div class="uk-panel">
                        <h3 class="uk-panel-title">Social Links</h3>
                        <ul class="uk-list">
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">GitHub</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">Twitter</a></li>
                            <li><a href="http://www.getuikit.net/docs/layouts_blog.html#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_frontpage.html">Frontpage</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_portfolio.html">Portfolio</a>
                    </li>
                    <li class="uk-active">
                        <a href="http://www.getuikit.net/docs/layouts_blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_documentation.html">Documentation</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="http://www.getuikit.net/docs/layouts_login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>
